/* fonts strt*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

/* font end */
* {
    margin: 0%;
    border: 0px;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}

/*---------------
 header part strt
----------------- */
.hdr-cont {
    background-color: black;
    border-radius: 30px;
    margin: 10px 50px 140px 45px;
    display: flex;

}

.hdr-txt {
    padding: 50px 40px;
    width: 50%;

}

.txt1 {
    font-size: 40px;
    font-weight: 700;
    color: white;
    margin-bottom: 30px;
}

.txt2 {
    font-size: 15px;
    font-weight: 400;
    color: white;
    padding: 10px 30px 20px 0px;
}

.bttn {
    padding: 16px 25px;
    text-decoration: none;
    border-radius: 5px;
    background-color: brown;
    border: 2px solid white;
    transition: 0.3s;
    color: aliceblue;
}

button:hover {
    background: none;
    text-shadow: 0 0 4px white;
}

.hdr-img {
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

/*==========
 header end
=========== */


/* ----------------
body part start 
-----------------*/
.bdy {
    position: relative;
    top: 50px;
    display: flex;
}

.body-cont {
    margin-right: 10px;
    position: relative;
    left: 35px;
}

.wdth-nv {
    width: 30%;
}

.wdth-nv1 {
    width: 70%;
}


.body-cont {
    width: 270px;
    height: 300px;
    display: flex;
    background-color: black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-ber p {
    text-align: center;
    background-color: rgba(248, 243, 198, 0.986);
    padding: 10px 20px;
    border-radius: 5px;
    margin: 20px;
}

.nav-ber span p {
    text-align: center;
    background-color: brown;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 20px;
}

.nav-ber span p a {
    text-decoration: none;
    color: #000000;
    font-size: 17px;
    font-weight: 500;
}

.nav-ber>p>a {
    text-decoration: none;
    color: #000000;
    font-size: 17px;
    font-weight: 500;
}




.use-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px 15px;
    position: relative;
    left: 50px;
}

.p-brdr {
    padding: 3px 10px;
    border: 0.8px solid black;
    border-radius: 5px;
}

.info-dv {
    display: flex;
}

.info-dv p {
    margin-right: 30px;
    padding: 0px 20px 20px 20px;
}

.info h3 {
    margin: 10px 10px 10px 10px;
}

/* ==============
body part end
================ */
/* ---------------
footer part start
------------------ */
.ftr-cont {
    width: 100%;
    height: 40vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.ftr-div {
    width: 70%;
}



.ftr-hd {
    color: bisque;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    transition: 0.6s;
    position: relative;
}

.ftr-hd h1:hover {
    letter-spacing: 4px;
    color: azure;
    text-shadow: 0 0 2px aquamarine, 0 0 4px aquamarine, 0 0 6px aquamarine, 0 0 9px aqua;

}

hr {
    border: .8px solid #9e9eac;
}

.ftr-info {
    margin-top: 40px;
    display: flex;
    color: #746363;
    gap: 20px;
    justify-content: center;
    transition: 0.5s;
}

.ftr-info p:hover {
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
    color: azure;
    text-shadow: 0 0 2px aquamarine, 0 0 4px aquamarine, 0 0 6px aquamarine, 0 0 9px aqua;
    transition: 0.5s;
}

.social-dv {
    display: flex;
    gap: 20px;
    justify-content: center;
    background-color: black;
}

@media only screen and (max-width:1100px) {
    .hdr-txt {
        padding: 50px 40px;
        width: 70%;
    }

    .hdr-img {
        width: 30%;
    }

    .bdy {
        position: relative;
        top: 50px;
        display: flex;
        flex-direction: column;
    }

    .nav-ber h2 {
        display: flex;
    }
}