.body-cont {
    width: 270px;
    height: 300px;
    display: flex;
    background-color: black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-ber p {
    text-align: center;
    background-color: rgba(248, 243, 198, 0.986);
    padding: 10px 20px;
    border-radius: 5px;
}

.nav-ber>p>a {
    text-decoration: none;
    color: #000000;
    font-size: 17px;
}